extends ../template
block content
    p
        span=`${t('EXPORT.SEASON')} `
        strong #{farm_name}!
        span=` ${t('EXPORT.CERTIFICATION')}`
    p
        span=`${t('EXPORT.PRIVACY')}`
    p
        span=`${t('EXPORT.LANGUAGE_DELAY')}`
    a#email-button(href=`${buttonLink}` target='_blank')
        button.button=`${t('EXPORT.GET_YOUR_EXPORT')}`